.flex-container{
    display: flex;
    background-color:blue;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container > a {
    margin: 1%;
    padding: 2%;
    background-color: gray;
}